        /*FOOTER*/
        
        .footer {
            display: flex;
            flex-direction: column;
            justify-content: left;
            height: 200px;
            background-color: ($dark-grey);
            
       
                &__titre{ 
                font-family:'Shrikhand',sans-serif;
                color:white;}
          
                 &__liste {
                
                  list-style: none;
                color: white;
                font-family: "Roboto", sans-serif;
                           
               }
        }
     
                  @media (min-width: 768px){
                    .footer {
                    padding-bottom: 5px;
                    height: 100px;
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: right;
                    align-items: last baseline;
                    gap: 60px;

                    &__titre{
                        
                        display: flex;
                        padding-right: 15px;
                        align-items: center;
                        justify-content: center;
                        font-size: 22px;

                    }
                    &__liste{
                        
                        display: flex;
                        flex-direction: row;

                        gap:20px;
                       
                    }
                    }
                }