

.header {
  
    margin: 0;
    &__maintitle{
        font-family:'Shrikhand',sans-serif;
        text-align: center;
       

    }
}

/***   box-shadow: outset -4px 0px 17px 1px #353535;****/
.navigation{
        display: flex;
        justify-content: center;
        background-color: ($medium-grey);
        box-shadow:  -4px 0px 7px ($dark-grey) ;
        width: 100%;
        margin-bottom: 7px;

            &__searchBar{
                display: flex;
                flex-direction: row;
                align-items: center;
                &__recherche{
                     position: relative;
                    border-style: none;
                    height: 50px;
          
                    font-size: larger;
                    font-weight: bold;
                    color: black;
                    text-align: center;
                    background-color: ($medium-grey);
                 
                }
            }
    }
            
            
       
    

