
* {

    font-family: "Roboto", sans-serif;
    color: inherit;
    text-decoration: none;}

.header-resto{
    position: static;
    z-index: 3;
    a{
        position: absolute;
        top: 35px;
        left: 35px;
    }
    &__fa-solid, .fas {
        font-size: 20px;
        font-weight: 900;
        }

}

///coeur à revoir///

.blackheart{

        font-size: 20px;
        position: absolute;
        opacity: 1;
        border: none;
        background-color: transparent;
        }
.pinkheart {

        background:linear-gradient(180deg,($pink),($primairy-purple));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        border: none;
        font-size: 20px;
        opacity: 0;
        
    }
 .pinkheart:focus{
    opacity: 1;
 }


////coeur///

.window{
width: 100%;

        &__img{

            height: auto;
            object-fit: cover;

        }
}

///footer//


///partie menu////
.main{
    height: 100%;

    background-color: ($grey);
}
        .presentation{
        padding:20px;
        z-index: 2;
        position: relative;
        top:-80px;
        flex-direction: column;
        background-color: ($grey);
        border: none;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;

        max-width: 1058px;
        margin: 0 auto;

        position: relative;
        top:-80px;

        }


        .title {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

        }


 

        .restoname{
                        font-family:'Shrikhand',sans-serif;
                        text-align: center;
                        font-size: 28px;
                    }


//***SOUS TITRE*****//
  .categorie{
    display: inline;
    font-weight: lighter;
    

  }
.border{
    width:50px;
    border-style: none;
    border-bottom:solid 2px ($soft-green);
  
}

        .plat{
        font-weight: bolder;
                        }
    
  
///MXIN TRANSITION ///
/// 
/// 
/// @mixin article-menu {
/// 
/// DESCRIPTION MENU///
.carde{



    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    display: flex;
    background-color: white;
    width: 100%;
    overflow: hidden;
    margin: 20px;
    box-shadow: 5px 5px 3px #EAEAEA;
    &:hover .selectChoice{
        margin: 0;
        transition: all 0.5s;
        cursor: pointer;
    }
    .selectChoice {
        @include flex-center;
        background-color: $soft-green;
        color: white;
        font-weight: bold;
        font-size: 20px;
        align-items: center;
        border-radius: 0px 15px 15px 0px;
        width: 50px;
        margin-right: -60PX
    }
    &:hover .selectChoice i {
        animation: spin 1s;
    }

    .description {
        padding: 20px;
        display: flex;
        flex-direction: column;
        overflow: hidden;              
     
        justify-content: space-between;
      
        padding: 0.5rem 0 0.5rem 1rem;
        &:hover {
            cursor: pointer;
        
        }
    }
    .price {

        display: flex;
        align-items: center;
        @include flex-center;
        width: 30px;
        font-weight: bold;
        align-items: flex-end;
        padding: 0 0.5rem 0.5rem 0;
        border-radius: 0px 15px 15px 0px;
        &:hover {
            cursor: pointer;
        }
    }

}

@mixin flex-center {
    display: flex;
    justify-content: center;
}

// la coche qui pivote sur 360°
@keyframes spin {                       
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes effet-opacity {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

// animation des menus
@keyframes apparition {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



   

 

    ///Pourquoi pas appliqué si imbriqué ?///
    .plat{
    font-weight: 900;
    }



    .commander{
 
        background-color: ($grey);
        display: flex;
        justify-content:center;
        align-items: center;
        position: relative;
        bottom: -80px;
        

    &__btn{ 
        position: relative;
        bottom:50px;
        margin: 50px;   
        font-size: 20px;
        color:white;
        border: none;
        border-radius: 90px;
        background:linear-gradient(180deg,($pink),($primairy-purple));
        padding: 15px 20px;
        @include shadow;
        transition: 2s;
    }
    &__btn:hover{
        filter:brightness(50%M);
        opacity: 0.7

    }
@media (min-width: 768px) {

    .main{
        width: 768px;

    }


    .window{
        width: 100%;
        height: 383px;
      
        
                &__img{

        
                    width:100% ;
               
                    object-fit: cover;
        
                }
        }

    }


}