#article_1, #article_4, #article_7 {
  animation: apparition 600ms ease-in;
}

#article_2, #article_5, #article_8 {
  animation: apparition 1.2s ease-in;
}

#article_3, #article_6, #article_9 {
  animation: apparition 1.8s ease-in;
}

#article_10 {
  animation: apparition 2.4s ease-in;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes effet-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} 
.header {
  position: relative;
  z-index: 1;
  margin: 0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header__maintitle {
  font-family: "Shrikhand", sans-serif;
  text-align: center;
  margin: 0;
  padding: 5px;
}

/***   box-shadow: outset -4px 0px 17px 1px #353535;****/
.navigation {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.navigation__searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navigation__searchBar__recherche {
  position: relative;
  border-style: none;
  height: 50px;
  font-size: larger;
  font-weight: bold;
  color: black;
  text-align: center;
  background-color: #EAEAEA;
}

/*FOOTER*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  height: 200px;
  background-color: #353535;
}
.footer__titre {
  font-family: "Shrikhand", sans-serif;
  color: white;
}
.footer__liste {
  list-style: none;
  color: white;
  font-family: "Roboto", sans-serif;
}

@media (min-width: 768px) {
  .footer {
    padding-bottom: 5px;
    height: 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: last baseline;
    gap: 60px;
  }
  .footer__titre {
    display: flex;
    padding-right: 15px;
    align-items: center;
    justify-content: center;
    font-size: 22px;
  }
  .footer__liste {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
body {
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
  color: inherit;
  text-decoration: none;
}

.reservation {
  background-color: #F6F6F6;
  text-align: center;
  padding: 50px;
}
.reservation__title {
  font-weight: bolder;
  padding: 0px 50px 0px 50px;
}
.reservation__txt {
  font-size: 18px;
  font-weight: lighter;
  padding: 0px 20px 20px 20px;
}
.reservation__btn {
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 90px;
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  padding: 15px 20px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: 2s;
}
.reservation__btn:hover {
  filter: brightness(50% M);
  opacity: 0.7;
}

/*Fonctionnement*/
.fonctionnement {
  background-color: white;
  padding: 25px;
}
.fonctionnement__titre {
  font-style: "roboto", sans-serif;
  font-weight: bolder;
  font-size: 23px;
}
.fonctionnement .liste {
  list-style-type: decimal;
  padding-left: 0px;
}
.fonctionnement .liste__item::before {
  position: absolute;
  left: -15px;
  top: 15px;
  background-color: #9356DC;
  border-radius: 20px;
  color: #fff;
  content: counter(nbr);
  padding: 5px 10px;
}
.fonctionnement .liste__item {
  position: relative;
  list-style-type: none;
  counter-increment: nbr;
}
.fonctionnement .liste__item__button {
  font-size: 18px;
  background-color: #7b38d8;
  border-radius: 10px;
  border: solid;
}
.fonctionnement .liste button {
  width: 100%;
  border: none;
  border-radius: 30px;
  background-color: #F6F6F6;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 10px;
  padding: 25px;
  font-size: 20px;
  transition: 1s;
  transition-property: calc(background-color);
}
.fonctionnement .liste button:hover {
  background-color: rgba(146, 86, 220, 0.3725490196);
}

/*RESTAURANT*/
.restaurants {
  padding: 25px;
  background-color: #F6F6F6;
}
.restaurants__titre {
  margin: 30px;
  font-size: 25px;
  font-weight: 900;
}

.new {
  display: inline-block;
  color: #3b8468;
  background-color: #99E2D0;
  padding: 2px 5px 2px 5px;
  z-index: 2;
  position: relative;
  top: 35px;
  left: 80%;
}

.card {
  background-color: white;
  border-radius: 30px;
  margin-bottom: 20px;
}
.card__img {
  z-index: 1;
  height: 60%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 231px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card__content {
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.card__content__txt {
  flex-direction: column;
  display: flex;
  justify-content: left;
  width: 70%;
}
.card__content__txt__h3 {
  font-weight: 800;
}
.card__content__icon {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .fa-solid, .card .fas {
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: static;
  opacity: 0;
}
.card .fa-regular, .card .far {
  font-size: 20px;
  position: absolute;
  transition: 2s;
  opacity: 1;
}

@media (min-width: 768px) {
  .fonctionnement {
    padding: 50px;
  }
  .fonctionnement__titre {
    font-style: "roboto", sans-serif;
    font-weight: bolder;
    font-size: 23px;
  }
  .fonctionnement .liste {
    padding-left: 0px;
    display: flex;
  }
  .fonctionnement .liste__item::before {
    position: absolute;
    left: -15px;
    top: 15px;
    background-color: #9356DC;
    border-radius: 20px;
    color: #fff;
    content: counter(nbr);
    padding: 5px 10px;
  }
  .fonctionnement .liste__item {
    margin: 20px;
    position: relative;
    list-style-type: none;
    counter-increment: nbr;
    gap: 15px;
    width: 33%;
  }
  .fonctionnement .liste button {
    width: 100%;
    border: none;
    border-radius: 30px;
    background-color: #F6F6F6;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 10px;
    padding: 25px;
    font-size: 20px;
  }
  .restaurants {
    background-color: #F6F6F6;
    padding: 50px;
  }
  .restaurants__titre {
    text-align: left;
    display: flex;
    justify-content: left;
  }
  .restaurants__cartes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 60px;
    flex-wrap: wrap;
    padding-bottom: 30px;
  }
}
* {
  font-family: "Roboto", sans-serif;
  color: inherit;
  text-decoration: none;
}

.header-resto {
  position: static;
  z-index: 3;
}
.header-resto a {
  position: absolute;
  top: 35px;
  left: 35px;
}
.header-resto__fa-solid, .header-resto .fas {
  font-size: 20px;
  font-weight: 900;
}

#article_1, #article_4, #article_7 {
  animation: apparition 600ms ease-in;
}

#article_2, #article_5, #article_8 {
  animation: apparition 1.2s ease-in;
}

#article_3, #article_6, #article_9 {
  animation: apparition 1.8s ease-in;
}

#article_10 {
  animation: apparition 2.4s ease-in;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes effet-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} 
.blackheart {
  font-size: 20px;
  position: absolute;
  opacity: 1;
  border: none;
  background-color: transparent;
}

.pinkheart {
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  border: none;
  font-size: 20px;
  opacity: 0;
}

.pinkheart:focus {
  opacity: 1;
}

.window {
  width: 100%;
}
.window__img {
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  height: 100%;
  background-color: #F6F6F6;
}

.presentation {
  padding: 20px;
  z-index: 2;
  position: relative;
  top: -80px;
  flex-direction: column;
  background-color: #F6F6F6;
  border: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  max-width: 1058px;
  margin: 0 auto;
  position: relative;
  top: -80px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.restoname {
  font-family: "Shrikhand", sans-serif;
  text-align: center;
  font-size: 28px;
}

.categorie {
  display: inline;
  font-weight: lighter;
}

.border {
  width: 50px;
  border-style: none;
  border-bottom: solid 2px #99E2D0;
}

.plat {
  font-weight: bolder;
}

.carde {
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  display: flex;
  background-color: white;
  width: 100%;
  overflow: hidden;
  margin: 20px;
  box-shadow: 5px 5px 3px #EAEAEA;
}
.carde:hover .selectChoice {
  margin: 0;
  transition: all 0.5s;
  cursor: pointer;
}
.carde .selectChoice {
  display: flex;
  justify-content: center;
  background-color: #99E2D0;
  color: white;
  font-weight: bold;
  font-size: 20px;
  align-items: center;
  border-radius: 0px 15px 15px 0px;
  width: 50px;
  margin-right: -60PX;
}
.carde:hover .selectChoice i {
  animation: spin 1s;
}
.carde .description {
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
  padding: 0.5rem 0 0.5rem 1rem;
}
.carde .description:hover {
  cursor: pointer;
}
.carde .price {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 30px;
  font-weight: bold;
  align-items: flex-end;
  padding: 0 0.5rem 0.5rem 0;
  border-radius: 0px 15px 15px 0px;
}
.carde .price:hover {
  cursor: pointer;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes effet-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.plat {
  font-weight: 900;
}

.commander {
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -80px;
}
.commander__btn {
  position: relative;
  bottom: 50px;
  margin: 50px;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 90px;
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  padding: 15px 20px;
  box-shadow: 5px 5px 5px #353535;
  transition: 2s;
}
.commander__btn:hover {
  filter: brightness(50% M);
  opacity: 0.7;
}
@media (min-width: 768px) {
  .commander .main {
    width: 768px;
  }
  .commander .window {
    width: 100%;
    height: 383px;
  }
  .commander .window__img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}/*# sourceMappingURL=main.css.map */