.reservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
        &__txt{
            font-weight: lighter;
        }
        &__btn{    font-size: 20px;
            font-weight: 800;
            color:white;
            border-radius: 50px;
        width: 200px;
        height: 100px;
        background-color:var( --primairy-color);
        }
}

