        /*FOOTER*/
        
        .footer {
            display: flex;
            flex-direction: column;
            justify-content: left;
            background-color: ($dark-grey);
        /***POURQUOI LE BLANC N'EST IL PAS APPLIQUÉ ?****/
            color: white;
          

                &__titre{ 
                font-family:'Shrikhand',sans-serif;
                color:white;}

  /***POURQUOI est il appliqué ici ?****/

                 &__liste {                        
                  list-style: none;
                color: white;
                font-family: "Roboto", sans-serif;
                                &__li{
                                color: white;
                                }
               }
                    }
         
                