@charset "UTF-8";
/*FOOTER*/


@media (max-width: 767.98px) {

.footer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: #353535;
  /***POURQUOI LE BLANC N'EST IL PAS APPLIQUÉ ?****/
  color: white;
  /***POURQUOI est il appliqué ici ?****/
}
.footer__titre {
  font-family: "Shrikhand", sans-serif;
  color: white;
}
.footer__liste {
  list-style: none;
  color: white;
  font-family: "Roboto", sans-serif;
}
.footer__liste__li {
  color: white;
}

.header {
  margin: 0;
}
.header__maintitle {
  font-family: "Shrikhand", sans-serif;
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  border-top: 4px solid #353535;
  border-bottom: 4px solid #353535;
}
.navigation__searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navigation__searchBar__recherche {
  position: relative;
  border-style: none;
  height: 50px;
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  font-size: larger;
  font-weight: bold;
  color: black;
  text-align: center;
  background-color: #EAEAEA;
}

* {
  font-family: "Roboto", sans-serif;
  color: black;
  text-decoration: none;
}

.reservation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.reservation__title {
  font-weight: bolder;
}
.reservation__txt {
  font-weight: lighter;
}
.reservation__btn {
  display: inline-block;
  justify-content: center;
  font-size: 20px;
  font-weight: 800;
  color: white;
  border-radius: 90px;
  border: solid;
  box-shadow: 4px 4px 4px #EAEAEA;
  width: 240px;
  height: 110px;
  background: linear-gradient(180deg, #FF79DA, #9356DC);
}

/*Fonctionnement*/
.fonctionnement {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
}
.fonctionnement__titre {
  font-style: "roboto", sans-serif;
  font-weight: bolder;
  font-size: 23px;
}

.liste {
  list-style-type: decimal;
}
.liste__item::before {
  display: flex;
  width: 24px;
  justify-content: center;
  background-color: #9356DC;
  border: solid;
  border-radius: 20px;
  color: rgb(253, 253, 253);
  content: counter(nbr);
  font-size: 24px;
}
.liste__item {
  list-style-type: none;
  counter-increment: nbr;
  display: flex;
  flex-direction: row;
}
.liste__item__btn {
  display: inline-block;
  justify-content: center;
  font-size: 20px;
  font-weight: 800;
  color: white;
  border-radius: 90px;
  border: solid;
  box-shadow: 4px 4px 4px #EAEAEA;
  width: 240px;
  height: 110px;
  background: linear-gradient(180deg, #FF79DA, #9356DC);
}

/*Fonctionnement liste */
/*RESTAURANT*/
.restaurants {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-color: #F6F6F6;
  gap: 20px;
}
.restaurants__titre {
  font-size: 25px;
  font-weight: 900;
}

.card {
  background-color: white;
  width: 50%;
  border: solid transparent;
  border-radius: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
}
.card__img {
  height: 60%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 231px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card__content {
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.card__content__txt {
  flex-direction: column;
  display: flex;
  justify-content: left;
  width: 70%;
}
.card__content__icon {
  color: transparent;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: var(--bg-medium);
  display: block;
  -o-object-position: center;
     object-position: center;
}/*# sourceMappingURL=index.css.map */


}